.navbar-container {
    background-color: #98c9cb;
    height: 2.5rem;
    border-radius: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.weather-tab {
    margin: 0 auto;
    font-size: 14px;
    color: white;
    font-weight: 500;
    padding-left: 11rem;
}

.unit-menu {
    border-style: none;
    background-color: #c1d9d9;
    height: 3rem;
    margin-right: 7rem;
    
}
.unit-menu option{
    color: white;
    
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 11rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}