.navbar-container {
    background-color: #98c9cb;
    height: 2.5rem;
    border-radius: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.weather-tab {
    margin: 0 auto;
    font-size: 14px;
    color: white;
    font-weight: 500;
    padding-left: 11rem;
}

.unit-menu {
    border-style: none;
    background-color: #c1d9d9;
    height: 3rem;
    margin-right: 7rem;
    
}
.unit-menu option{
    color: white;
    
}