.main-container{
    margin-top: 8rem;
}


.additional-info{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 35rem;
    align-items: center;
    margin: 0 auto;
    line-height: .01rem;
    font-size: .93rem;
}
